@model IncomeViewModel


<tr>
    <td>@Html.DisplayFor(model => model.IncomeDate)</td>
    <td>@Html.DisplayFor(model => model.BeforeDeductions)</td>
    <td>@Html.DisplayFor(model => model.AfterDeductions)</td>
    <td>@Html.DisplayFor(model => model.EmployerName)</td>
    <td>@Html.DisplayFor(model => model.Classification)</td>
</tr>
